*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(image/aaron-burden.jpg) no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif
  

}
main{
  width: 240px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.app-name{
  font-size: 2.8rem;
  color: aliceblue;
}

.app-container{
  border-bottom: 5px solid rgb(220, 235, 245);
  border-top: 5px solid rgb(220, 235, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 10px 20px;
  width: 600px;
  height: 400px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.526);
  transition: all 0.2s ease-in ;
}

.input-container{
  /* border: 1px solid white; */
  border-bottom: 3px solid rgb(220, 235, 245);
  border-top: 3px solid rgb(220, 235, 245);
  /* box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.33); */
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
}

.user-input{
  width: 320px;
  height: 30px;
  background: transparent;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.task-container{
  border-bottom: 3px solid rgb(220, 235, 245);
  border-top: 3px solid rgb(220, 235, 245);
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.526);
  width: 400px;
  height: 100%;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in ;
}

.tasks-list{
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  gap: 10px;
  margin: 0 20px;
}

.task-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  border-bottom: 2px solid rgb(220, 235, 245);
  border-top: 2px solid rgb(220, 235, 245);
  /* box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.33); */
  padding: 5px 10px;
  border-radius: 10px;
  animation: 0.2s ease-in-out scale;
  /* text-decoration: line-through; */
  font-size: 1.5rem;
}

@keyframes scale {
  0%{
    transform: scale(0%);
  }
  100%{
    transform: scale(100%);
  }
  
}

.ok-and-text{
  display: flex;
  justify-content: space-between;
  gap:20px;
}
.completed-task{
  /* color: black; */
  font-style: italic;
  text-decoration: line-through;
  cursor: pointer;

} 

button{
  border: none;
  background: transparent; 
  color: white;
 
}

.add-btn{
  font-size: 2rem;
}

.oK-btn, .delete-btn{
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.3s ease-out;
}

.oK-btn:hover, .delete-btn:hover{
  font-size: 3rem;

}

.delete-btn:hover{
  color: red;
}
.oK-btn:hover{
  color: rgb(0, 255, 76);
}